<!DOCTYPE HTML>
<html>
<head>
	<title>汽车型号录入</title>
	<meta charset="utf-8" />
	<link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
  	<link href="/public/stylesheets/cms-index.css" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/register-login.css">
	<link href="public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="public/javascripts/jquery1.83.js"></script>
	<script src="public/javascripts/car-show.js" type="text/javascript"></script>
	<style>
		#addModelBtn {
			position: absolute;
			top: 20px;
			left: 0;
			text-decoration: none;
			color: #fff;
			padding: 10px 20px;
			border-radius: 20px;
			background: #999;
			z-index: 10;
		}
		.cms-list a:hover {
	      background: #eee;
	      cursor: pointer;
	    }
	</style>
</head>

<body>
	<a id="addModelBtn" href="addSeriesData.html">录入系列数据</a>
	<div class="header">
    <div class="banner">
        <a href="index.html" class="banner-title">国产汽车网</a>
      <span class="milk-theme">后台管理</span>
    <div class="admin-login">
      当前登录：
            <a href="#" style="cursor:default;" class="login"> ${user.username}</a>
            | 
            积分：${user.integration}
            |
            <a href="@{Logined.logout()}" class="regist">注销</a>
    </div>
  </div>
  </div>
	<div class="container" style="margin-top:200px;">
  <div class="nav-bar" style="overflow:hidden;">
		<ul class="cms-list">
			<li>
				<!-- 车主认证管理 -->
				<div class="order-cms">
					<a href="order_cms.html">车主认证管理</a>
				</div>
			</li>
			<li>
				<!-- 留言管理 -->
				<div class="words-cms">
					<a href="post_cms.html">留言管理</a>
				</div>
			</li>
			<li>
				<!-- 小道消息管理 -->
				<div class="news-cms">
					<a href="/carNews.html">小道消息管理</a>
				</div>
			</li>
			<!-- 小道消息管理 -->
			<li>
				<div class="news-cms">
					<a href="#" style="background: #eee;cursor:default">汽车数据管理</a>
				</div>
			</li>
		</ul>
  </div>
  <div class="content-box">
	<div id="t" style="text-align:center; width:960px;height:auto;padding:0;border:0;">
		<!系列已经存在！>
		<p>${message}</p>
		#{form @addCarModel()}
			#{field 'seriesName'}
					<label for="name">请输入系列名</label>
					<input type="text" name="${field.name}" id="name" />
			#{/field}
			
			#{field 'carModelDataString'}
			<div class="input-control">
				<label for="carModelDataString" class="username">某一系列所有型号的数据字符串（传递给后台处理分割，型号之间@分隔，一个型号参数间,分隔）</label></br>
				<textarea cols="180" rows="50" id="carModelDataString" name="${field.name}"required="required"></textarea></br>
				<div class="flag"></div>
				<div id="name-msg" class="error-msg"></div>
			</div>
			#{/field}
			<p class="register-button">
			<input id="registerBtn" class="signup  button" name="register" type="submit" value="提交" style="margin-left:-40px">
			</p>
		#{/form}
		<!--<img src="public/images/kind1.jpg" style="text-align:center"/>-->
	</div>
</div>
</div>
<div class="footer">
    <p>COPYRIGHT © 2012 - 2013 DESIGNED BY HCier<p>
  </div>				
</body>

</html>