<!DOCTYPE HTML>
<html>
<head>
	<title>汽车系列录入</title>
	<meta charset="utf-8" />
	<link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
  	<link href="/public/stylesheets/cms-index.css" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/register-login.css">
	<link href="public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="public/javascripts/jquery1.83.js"></script>
	<script src="public/javascripts/car-show.js" type="text/javascript"></script>
	<style>
		#addModelBtn {
			position: absolute;
			top: 20px;
			left: 0;
			text-decoration: none;
			color: #fff;
			padding: 10px 20px;
			border-radius: 20px;
			background: #999;
			z-index: 10;
		}
	    .cms-list a:hover {
	      background: #eee;
	      cursor: pointer;
	    }
	</style>
</head>

<body>
	<a id="addModelBtn" href="addModel.html">录入型号数据</a>
	<div class="header">
    <div class="banner">
        <a href="index.html" class="banner-title">国产汽车网</a>
      <span class="milk-theme">后台管理</span>
    <div class="admin-login">
      当前登录：
            <a href="#" style="cursor:default;" class="login"> ${user.username}</a>
            | 
            积分：${user.integration}
            |
            <a href="@{Logined.logout()}" class="regist">注销</a>
    </div>
  </div>
  </div>
	<div class="container" style="margin-top:200px;">
  <div class="nav-bar" style="overflow:hidden;">
		<ul class="cms-list">
			<li>
				<!-- 车主认证管理 -->
				<div class="order-cms">
					<a href="order_cms.html">车主认证管理</a>
				</div>
			</li>
			<li>
				<!-- 留言管理 -->
				<div class="words-cms">
					<a href="post_cms.html">留言管理</a>
				</div>
			</li>
			<li>
				<!-- 小道消息管理 -->
				<div class="news-cms">
					<a href="/carNews.html">小道消息管理</a>
				</div>
			</li>
			<!-- 小道消息管理 -->
			<li>
				<div class="news-cms">
					<a href="#" style="background: #eee;cursor:default">汽车数据管理</a>
				</div>
			</li>
		</ul>
  </div>
  <div class="content-box">
	<div id="register" style="text-align:center; width:960px;height:auto;padding:0;border:0;">
		<!系列已经存在！>
		<p>${message}</p>
		#{form @saveCarSeries()}
			#{field 'carSeries.seriesName'}
			<div class="input-control">
				<label for="seriesName" class="username">系列名称</label>
				<input id="seriesName" class="input-box" type="text" name="${field.name}"required="required" /></br>
				（如果只是字母和数字，则在前面加品牌名，如比亚迪F3,字母用大写）
				<div class="flag"></div>
				<div id="name-msg" class="error-msg"></div>
			</div>
			#{/field}
			#{field 'carSeries.path1'}
			<div class="input-control">
				<label for="path" class="email">汽车前右图片路径</label>
				<input id="path" class="input-box" type="text" name="${field.name}" required="required" /></br>
				(统一命名：public/images/carSeries/品牌名拼音/系列名/1.jpg  ，系列名同上，如有中文，用拼音代替中文)
				<div class="flag"></div>
				<div id="email-msg" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}
			#{field 'carSeries.path2'}
			<div class="input-control">
				<label for="path" class="email">汽车左视图片路径</label>
				<input id="path" class="input-box" type="text" name="${field.name}" required="required" /></br>
				(统一命名：public/images/carSeries/品牌名拼音/系列名/2.jpg  ，系列名同上，如有中文，用拼音代替中文)
				<div class="flag"></div>
				<div id="email-msg" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}

			#{field 'carSeries.path3'}
			<div class="input-control">
				<label for="path" class="email">汽车后视图片路径</label>
				<input id="path" class="input-box" type="text" name="${field.name}" required="required" /></br>
				(统一命名：public/images/carSeries/品牌名拼音/系列名/3.jpg  ，系列名同上，如有中文，用拼音代替中文)
				<div class="flag"></div>
				<div id="email-msg" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}

			#{field 'carSeries.path4'}
			<div class="input-control">
				<label for="path" class="email">汽车内部图片路径</label>
				<input id="path" class="input-box" type="text" name="${field.name}" required="required" /></br>
				(统一命名：public/images/carSeries/品牌名拼音/系列名/4.jpg  ，系列名同上，如有中文，用拼音代替中文)
				<div class="flag"></div>
				<div id="email-msg" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}

			#{field 'carSeries.bottomPrice'}
			<div class="input-control">
				<label for="bottomPrice" class="passwd">最低价</label>
				<input id="bottomPrice" class="input-box" type="text" name="${field.name}" required="required" /></br>
				只需填数值，不用加“万”字
				<div class="flag"></div>
				<div id="passwd-msg" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>	
			#{/field}
			 #{field 'carSeries.fuelConsumption'} 
			<div class="input-control">
				<label for="fuelConsumption" class="fuelConsumption">油耗</label>
				<input id="fuelConsumption" class="input-box" required="required" name="${field.name}" type="text" ></br>
				填该系列最低油耗数值，不用加单位
				<div class="flag"></div>
				<div id="fuelConsumption" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}
			 #{field 'carSeries.startLevel'} 
			<div class="input-control">
				<label for="startLevel" class="passwdconfirm">星级</label>
				<input id="startLevel" class="input-box" required="required" name="${field.name}" type="text" >
				</br>范围1-5，暂不支持小数
				<div class="flag"></div>
				<div id="startLevel" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}
			 #{field 'carSeries.carType'} 
			<div class="input-control">
				<label id="selectLabel" for="selectInput" style="position:relative;left:-182px">选择车型</label>
                    <span id="down" style="left:530px;">▼</span>
                    <ul id="selectCar" style="left:400px;">
                        <li id="carList1" class="carList">微型车</li>
                        <li id="carList2" class="carList">小型车</li>
                        <li id="carList3" class="carList">紧凑型车</li>
                        <li id="carList4" class="carList">中型车</li>
                        <li id="carList5" class="carList">中大型车</li>
                        <li id="carList6" class="carList">豪华型车</li>
                        <li id="carList7" class="carList">SUV</li>
                        <li id="carList8" class="carList">MPV</li>
                        <li id="carList9" class="carList">跑车</li>
                        <li id="carList10" class="carList">商用车</li>
                    </ul>
					<input type="hidden" class="input-box" name="${field.name}" id="selectInput" value="微型车">
			</div>
			#{/field}
			 #{field 'carBrandId'} 
			<div class="input-control">
				<label for="carBrandId" class="passwdconfirm">品牌id</label>
				<input id="carBrandId" class="input-box" required="required" name="carBrandId" type="text" ></br>
				按照下面的图片输入，从左到右，从上到下，顺序为1-40
				<div class="flag"></div>
				<div id="carBrandId" class="error-msg"></div>
				<!-- <div class="registerError">${field.error}</div> -->
			</div>
			#{/field}
			<p class="register-button">
			<input id="registerBtn" class="signup  button" name="register" type="submit" style="margin-left:-40px" value="提交">
			</p>
		#{/form}
		<img src="public/images/kind1.jpg" style="text-align:center"/>
	</div>
</div>
</div>
<div class="footer">
    <p>COPYRIGHT © 2012 - 2013 DESIGNED BY HCier<p>
  </div>			
</body>

</html>