#{extends 'app/views/Logined/head.html' /}
	<!----------------------------------------------------------------------------- 搜索框开始 --------------------------------------------------> 
	<div id="">
	

	</div>
	<!----------------------------------------------------------------------------- 搜索框结束 ------------------------------------------------->

	<!---------------------------------------------------------删除开始-------------------------------------->
       	<div class="words-title" align="center">
			<h1>国语</h1>
		#{list items:allMusicList,as:'allmusiclist'}
						
														 <div class="list-back" align="center">
															<div>	${allmusiclist.musicName}-${allmusiclist.player}-${allmusiclist.uploadDate}																									  						
															</div>													 
														 </div>												
          #{/list}
	</div>

	<!----------------------------------------------------------删除结束-------------------------------------->
