<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>情歌网后台管理</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
            
  <link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/index.css" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/cms-index.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/register-login.css" rel="stylesheet" type="text/css" />
	<script src="/public/javascripts/jquery1.83.js" type="text/javascript"></script>
  <script src="/public/javascripts/bootstrap-tab.js" type="text/javascript"></script>
	<script src="/public/javascripts/order_cms.js" type="text/javascript"></script>
  <style>
    .cms-list a:hover {
        background: #eee;
        cursor: pointer;
      }
      .footer {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        position: absolute;
        left: 0px;
      }
      .nav-bar {
        overflow: hidden;
      }
      
  </style>
</head>
<body>
<div id="showPic"></div>
	<div class="header">
    <div class="banner">
        <a href="index.html" class="banner-title">情歌网</a>
      <span class="milk-theme">后台管理</span>
    <div class="admin-login">
      当前登录：
            <a href="#" style="cursor:default;" class="login"> ${user.username}</a>
            | 
            积分：${user.integration}
            |
            <a href="@{Logined.logout()}" class="regist">注销</a>
    </div>
    </div>
  </div>
	<div class="container">
<div class="nav-bar">
			<ul class="cms-list">
			
				<!-- 添加音乐管理 -->
				<li>
					<div class="order-cms">
						<a href="#" style="background:#eee;">添加音乐</a>
					</div>
				</li>
				
				<!-- 修改音乐管理 -->
				<li>					
					<div class="news-cms">
						<a href="/modifiedMusic.html">修改音乐</a>
					</div>
				</li>
				
				<!-- 删除音乐管理 -->
				<li>
					<div class="news-cms">
						<a href="/deleteMusic.html">删除音乐</a>
					</div>
				</li>
				
				<!-- 留言管理 -->
				<li>				
					<div class="words-cms">
						<a href="/post_cms.html">留言管理</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-----------------------子模板开始--------------------->
	#{doLayout /}
    <!-----------------------子模板结束--------------------->
	
  <div class="footer">
    <p>COPYRIGHT © 2012 - 2013 DESIGNED BY xiuson<p>
  </div>
</body>
</html>