#{extends 'app/views/Logined/head.html' /}
	<!-----------------------上传音乐开始--------------------->
	<div class="tabbable tabs-top">
		<form action="@@{Logined.uploadMusic()}" method="post" enctype="multipart/form-data">

			音乐名称：<input type="text" name="musicName"/></br>		
			歌    手：<input type="text" name="player"/></br>
			类    型：<input type="text" name="type"/>所属类别：粤语、国语、英文、韩文,不要包含一个“歌”字或填其他</br>
			专辑：<input type="text" name="albums"/></br>	
			发行日期：<input type="text" name="publicDate"/></br>
			上传文件<input type="file" name="musicFile"/></br>
			<input type="submit" value="上传"/>
			${flash.success}

		</form>											
	</div>
    <!-----------------------上传音乐结束--------------------->
	
  