#{extends 'app/views/Logined/head.html' /}
	<!-----------------------上传音乐开始--------------------->
	<div id="register">
		<form action="@@{Logined.uploadMusic()}" method="post" enctype="multipart/form-data">

			音乐名称：<input type="text" name="musicName"/></br>		
			歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手：<input type="text" name="player"/></br>
			类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：<input type="text" name="type" /></br>
			<h7>(所属类别,只填数字：国语歌为1、粤语歌为2、英文歌为3、韩文歌为4)</h7></br>
			专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辑：<input type="text" name="albums"/></br>	
			发行日期：<input type="text" name="publicDate"/></br>
			上传文件<input type="file" name="musicFile"/></br>
			<input type="submit" value="上传"/>
			${flash.success}

		</form>											
	</div>
    <!-----------------------上传音乐结束--------------------->
	
  