.container {
	margin-top: 200px;
	width: 960px;
}
#carContent .carSeries {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 100px;
	border-top: 1px solid #ddd;
	/*border-bottom: 1px dashed #333;*/
	width: 860px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
#carContent {
	/*width: 858px;*/
	width: 958px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	/*border: 1px solid #337A5B;*/
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px #ddd;
    background: #fff;
}
.showCar {
	height: 12px;
	padding-left: 0px;
	width: 900px;
}
.showCar .car-show-box {
    width: 400px;
    float: left;
    position: relative;
}
.car-show {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.car-show ul {
    list-style-type: none;
    width: 1600px;
    padding: 0;
    position: absolute;
}
.car-show ul li {
    float: left;
}
#carContent .carSerieseContent {
	width: 760px;
	margin: 0 auto;
	/*background: #fff;*/
}
#carContent .carSeries img {
	display: inline-block;
	width: 400px;
	height: 280px;
}
#carContent .carSerieseContent .carSeries-wrap {
	vertical-align: middle;
	font-size:12px;
}
#carContent .carSeries .carSeriesTable {
	width: 252px;
	margin-top: 14px;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.level {
	text-indent: -999px;
	display: none;
}
.levelShow {
	position: relative;
}
.levelShow ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
.levelShow ul li {
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	float: left;
	background: url('../images/lanrentuku.png') no-repeat 0 0;
}
.levelShow .hasStar li {
	background: url('../images/lanrentuku.png') no-repeat 0 -25px;
}
.showComment {
	width: 60px;
	height: 30px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background: #00a1cb;
	color: white;
	text-shadow: none;
	border: none;
	line-height: 30px;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	margin: 0;
	text-decoration: none;
	text-align: center;
}
.showComment:hover {
	background: #888;
}
.carCommentsForm {
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 10px;
	display: none;
}
.commentForm {
	margin-top: 60px;
	text-align: center;
}
.commentForm .textarea{
	width: 500px;
	height: 80px;
	text-indent: 10px;
}
.commentForm .commentBtn{
	vertical-align: bottom;
}
.carSeries .carComments {
	padding: 10px 30px;
	list-style-type: none;
	width: 600px;
	margin: 20px auto;
}
.carSeries .carComments .icon32 {
	vertical-align: middle;
}
.carSeries .carComments .comment {
	text-indent: 30px;
	background: #f6f6f6;
	border-left: 5px solid #929292;
	margin-left: 13px;
	line-height: 40px;
	font-size: 14px;
}
#carContent img.list-back-img{
	width:40px;
	height:30px;
	vertical-align:top;
}
.list-back audio{
	vertical-align:middle;
	height: 15px;
}

.list-back{
	font-size:20px;
	padding-left: 0px;
	vertical-align:middle;
	
}
