<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>酸奶企业动态内容</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="../css/milk-news-content.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- 最顶部快捷条包括登录和注册 -->
	#{if user}
    <div class="header">
       <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
            当前登录：
            <a href="#" class="login">${user}</a>
            | 
            <a href="@{Logined.logout()}" class="regist">注销</a>
            |
            <a href="@{Logined.order_customer()}" class="regist">个人中心</a>
            </div>
        </div> 
    </div>
    #{/if}  
    #{else}  
        <div class="header">
        <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
                <a href="login.html" id="login" class="login">登录</a>
                |
                <a href="register.html" class="regist">注册</a>
            </div>
        </div>
    </div>
    #{/else}
	<div class="container">
		<!-- 右边固定在屏幕边上的联系方式 --> 
		<div class="contact-us">
			<div class="contact-area">
				<a href="contact-us.html">联系我们</a>
			</div>
		</div>
		<div class="news-content-area">
			<h1>酸奶企业动态内容</h1>
			<a href="milk-news.html" class="back-to-lists">Back</a>
			<h2 class="news-title" name="news-title">
				头条：霸王集团总裁万玉华校友在华农大红满堂做《企业与市场策划》专题报告
			</h2>
			<div class="news-edit-detail">
				撰写时间：<span class="news-edit-date" name="news-edit-date">2013/2/20</span>
				责任编辑：<span class="news-editor" name="news-editor">张三</span>
			</div>
			<div class="news-content">
				<p class="news-content-font">  
					近日，应资产公司邀请，霸王集团总裁万玉华校友在华农大红满堂报告厅为资产公司的员工做了一场题为《企业与市场策划》的精彩报告，报告会由资产公司梁梓森总经理主持。
					万玉华校友结合霸王集团的发展历程，对企业经营策略与文化进行了生动阐述，指出企业定位、政府关系、科研开发、价格体系、推广策略、管理团队、广告宣传、策划能力构成了企业的经营战略。报告结束后，万玉华校友还互动式回答了员工们提出的问题。万玉华校友的演讲得到了在场员工的热烈欢迎和高度评价。
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>COPYRIGHT © 2012 - 2013 DESIGNED BY HCier<p>
	</div>
</body>
</html>
