<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<html xmlns="http://www.w3.org/1999/xhtml" manifest="public/car.manifest">
<head>
	<title>国产汽车网 - 让更多人了解我们自己的民族品牌</title>
	<meta name="keywords" content="国产汽车" />
	<meta name="discription" content="国产汽车，为的是一份情怀" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link href="public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/opa-icons.css"  rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/showSeries.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="public/images/favicon.ico" />
	<script src="public/javascripts/jquery1.83.js" type="text/javascript"></script>
	<script src="public/javascripts/words-count.js" type="text/javascript"></script>
	<script src="public/javascripts/scroll-top-control.js" type="text/javascript"></script>
    <script src="public/javascripts/car-show.js" type="text/javascript"></script>      
	<script src="public/javascripts/showSeries.js" type="text/javascript"></script>
</head>
<body>
	<!-- 最顶部快捷条包括登录和注册 -->
    #{if user}
    <div class="header">
       <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
            当前登录：
            <a href="#" style="cursor:default;" class="login"> ${user.username}</a>
            | 
            积分：${user.integration}
            |
            <a href="@{Logined.logout()}" class="regist">注销</a>
            |
            <a href="@{Logined.order_customer()}" class="regist">个人中心</a>
            </div>
        </div> 
    </div>
    #{/if}  
    #{else}  
        <div class="header">
        <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
                <a href="login.html" id="login" class="login">登录</a>
                |
                <a href="register.html" class="regist">注册</a>
            </div>
        </div>
    </div>
    #{/else}
    
	<div class="container">
	<!-- 右边固定在屏幕边上的联系方式 --> 
	<div class="contact-us">
		<div class="contact-area">
			<a href="email.html">联系我们</a>
		</div>
	</div>
    
    <div id="carContent">
		#{list items:carSeriesList,as:'carserieslist'}

		<div class="carSeries">
            <div class="carSerieseContent">
    			<div class="showCar">
                    <div class="car-show-box">
                        <div class="car-show">
                            <ul class="car-show-list">
                                <li><a href="/showModels.html?seriesId=${carserieslist.id}"><img src="${carserieslist.path1}" /></a></li>
                                <li><a href="/showModels.html?seriesId=${carserieslist.id}"><img src="${carserieslist.path2}" /></a></li>
                                <li><a href="/showModels.html?seriesId=${carserieslist.id}"><img src="${carserieslist.path3}" /></a></li>
                                <li><a href="/showModels.html?seriesId=${carserieslist.id}"><img src="${carserieslist.path4}" /></a></li>
                            </ul>
                        </div>
                    <div class="index" style="bottom:1px;">
                        <span class="current">1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                    </div>
                    </div>
    				
                    <div class="carSeries-wrap">
        				<table class="carSeriesTable">
                            <tr>
        					   <td>型号</td>
                               <td>${carserieslist.seriesName}</td>
                            </tr>
							  <tr>
        					   <td>车型</td>
                               <td>${carserieslist.carType}</td>
                            </tr>
                            <tr>
                               <td>最低价</td>
                               <td>${carserieslist.bottomPrice}万</td>
                            </tr>
        					<tr>
                               <td>油耗</td>
                               <td>${carserieslist.fuelConsumption}</td>
                            </tr>
        					<tr>
                               <td>星级</td>
                               <td class="levelShow">
                                   <ul class="noStar">
                                       <li>1</li>
                                       <li>2</li>
                                       <li>3</li>
                                       <li>4</li>
                                       <li>5</li>
                                   </ul>
                               </td>
                            </tr>
                            <tr>
                               <td>点评数</td>
                               <td>${carserieslist.carComments.size()}</td>
                            </tr>
                        </table>
                        <input class="level" type="hidden" value="${carserieslist.startLevel}" />
                        <a href="#" class="showComment" >查看</a>
                    </div>
    			</div>
                <div class="carCommentsForm">
                    <div class="commentForm">
                        <textarea class="textarea input-box" name="carCommentType" class="carCommentType" required="required" placeholder="我来点评..." ></textarea>
                        <input type="hidden" name="id" value="${carserieslist.id}" />
                        <input class="commentBtn btn btn-info" type="button" name="submit" value="点评">
                    </div>
        			<ul class="carComments">
        			#{list items:carserieslist.carComments,as:'carcomments'}
        				<li>
                            <i class="icon32 icon-color icon-bullet-off"></i>
        					<span class="author">${carcomments.user}</span>
							<input type="hidden" class="authType" value="${carcomments.user.authType}" />
                            <input type="hidden" class="isAdmin" value="${carcomments.user.isCarOwner}">
                            <span class="time">${carcomments.carCommentTime}</span>
        					<div class="comment">${carcomments.commentType}</div>
        				</li>
        			#{/list}
        			</ul>
                </div>
    			<div class="clear"></div>
    		</div>
        </div>
		#{/list}
		#{else}
			<h2>暂时还没有这个品牌的系列数据喔..亲，可以先看看其他品牌..
		#{/else}
    </div>
    <!-- 页脚 -->
    <div class="footer">
        <p>COPYRIGHT © 2013<p>
    </div>
    <!-- 右下角回顶部固定按钮 -->
    <div id="topcontrol" class="scrollTop" title="回顶部看看">
        <img src="/public/images/scrollTop.gif"/>
    </div>
</body>
</html>