<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<html xmlns="http://www.w3.org/1999/xhtml" manifest="public/car.manifest">
<head>
	<title>国产汽车网 - 让更多人了解我们自己的民族品牌</title>
	<meta name="keywords" content="国产汽车" />
	<meta name="discription" content="国产汽车，为的是一份情怀" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link href="public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/opa-icons.css"  rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/showSeries.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="public/images/favicon.ico" />
	<script src="public/javascripts/jquery1.83.js" type="text/javascript"></script>
	<script src="public/javascripts/words-count.js" type="text/javascript"></script>
	<script src="public/javascripts/scroll-top-control.js" type="text/javascript"></script>
    <script src="public/javascripts/car-show.js" type="text/javascript"></script>      
	<script src="public/javascripts/showSeries.js" type="text/javascript"></script>  
    <style>
        .show-container {
            width: 1520px;
            margin-top: 205px;
        }
        .show-container table {
            margin-top: 30px;
            border-collapse: collapse;
        }
        .show-container table td,.show-container table th{
            padding: 5px;
            border: 1px solid #ccc;
        }
		.footer {
			position: relative;
			}
    </style>    
</head>
<body>
	<!-- 最顶部快捷条包括登录和注册 -->
    #{if user}
    <div class="header">
       <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
            当前登录：
            <a href="#" class="login">${user}</a>
            | 
            <a href="@{Logined.logout()}" class="regist">注销</a>
            |
            <a href="@{Logined.order_customer()}" class="regist">个人中心</a>
            </div>
        </div> 
    </div>
    #{/if}  
    #{else}  
        <div class="header">
        <div class="banner">
            <a href="index.html" class="banner-title">国产汽车</a>
            <span class="milk-theme">我们的品牌，我们的情怀</span>
            <div class="login-regist">
                <a href="login.html" id="login" class="login">登录</a>
                |
                <a href="register.html" class="regist">注册</a>
            </div>
        </div>
    </div>
    #{/else}
    
	<div class="show-container">
		<!-- 右边固定在屏幕边上的联系方式 --> 
		<div class="contact-us">
			<div class="contact-area">
				<a href="email.html">联系我们</a>
			</div>
		</div>
		<div>
		<table align="">
			${str.raw()}
		</table>
		</div>
		<div style="clear:both"></div>
	</div>
    <!-- 页脚 -->
    <div class="footer">
        <p>COPYRIGHT © 2013<p>
    </div>
    <!-- 右下角回顶部固定按钮 -->
    <div id="topcontrol" class="scrollTop" title="回顶部看看">
        <img src="/public/images/scrollTop.gif"/>
    </div>
</body>
</html>